img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid;
  margin: 0 auto;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.slide-single {
  width: 100%;
  height: auto;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  z-index: -1;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#next,
#prev {
  width: 90px;
  height: 40px;
}
