.burger-menu {
  position: absolute;
  right: 0;
  top: 30px;
  width: 70px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 30px 5px;
  border-radius: 0 50% 50% 0;
  background-color: #46aab0;
  transform: translateX(69px);
  transition: ease-in 0.3s;
  z-index: 2;
  span {
    position: absolute;
    top: 35px;
    display: flex;
    content: '';
    top: 16px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #fff;
    transition: ease-out 0.3s;
  }
  &::after {
    position: absolute;
    display: flex;
    left: 15px;
    content: '';
    top: 28px;
    width: 30px;
    height: 2px;
    background: #fff;
    transition: ease-out 0.3s;
  }
  &::before {
    position: absolute;
    display: flex;
    content: '';
    left: 15px;
    top: 40px;
    width: 30px;
    height: 2px;
    background: #fff;
    transition: ease-out 0.3s;
  }
}
@media (max-width: 768px){
    .burger-menu{
        display: flex;
    }
}

.burger-menu.active {
  span {
    transform: scale(0);
  }
  &::after {
    transform: rotate(-45deg);
    top: 50%;
  }
  &::before {
    top: 50%;
    transform: rotate(45deg);
  }
}
