@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
  font-family: 'Runda-Normal';
  src: url('../fonts/Runda-Normal.ttf');
}
@font-face {
  font-family: 'Runda-light';
  src: url('../fonts/Runda-Light.ttf');
}
@font-face {
  font-family: 'Runda-Bold';
  src: url('../fonts/Runda-Bold.ttf');
}
@font-face {
  font-family: 'Runda-Medium';
  src: url('../fonts/Runda-Medium.ttf');
}
