
.button {
}
.btn {
  @include Monts-M;
  font-size: 1.2rem;
  letter-spacing: 0.024rem;
  color: #fff;
  padding: 1.4rem 0 1.5rem;
  border-radius: 4px;
}
.btn-register {
  @include bg-orange;

  outline: none;
  border: none;
  color: #fff;
  width: 304px;
}
.btn-prepod {
  border: solid 2px #fe8057;
  background: none;
  width: 200px;
}