.header {
  background: url('../img/bg-header.jpg') no-repeat center;
  background-size: cover;
  padding: 1rem 0.8rem 6rem;
  position: relative;
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 2.3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.8rem;
  }

  &__text {
    h1 {
      @include Monts-B;
      font-size: 2rem;
      line-height: 1.2;
      letter-spacing: 0.02rem;
      text-align: center;
      color: #fff;
    }
    p {
      @include openSans-R;
      font-size: 1.2rem;
      line-height: 1.3rem;
      letter-spacing: normal;
      text-align: center;
      color: #f1f1f1;
      margin: 4.6rem 0 6.6rem;
    }
  }
}
.sity {
  &__item {
    @include Monts-R;
    font-size: 1.4rem;
    color: #fff;
  }
}
.logo {
  width: 88px;
  height: 88px;
  margin: 0 4.05rem 0 3.05rem;
  z-index: 2;
  img {
    width: 100%;
    height: auto;
  }
}
.orange-word {
  @include orange;
}
