<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        link(rel="stylesheet" href="/air-datepicker/dist/css/datepicker.min.css" type="text/css")
        script(src="/air-datepicker/dist/js/datepicker.min.js")
        script(type="text/javascript" src="jquery.maskedinput.js")
        link(rel="stylesheet" href="../FA/css/all.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        script(src="/src/ui-kits/form-elements/button-set/nouislider.js")
        link(rel="stylesheet" href="/src/ui-kits/form-elements/button-set/nouislider1.css")
        script(src="/src/ui-kits/form-elements/button-set/pagination.js")

    title Form Elements
    body
        .wrapper
            include /field-set/field-set.pug
            include /checkbox-set/checkbox-set.pug
            include /button-set/button-set.pug
