.cap-block {
  width: 572px;
  height: 316px;
  border-radius: 6px;
  background-color: #ececec;
}
.email {
  font-weight: 500;
  color: #2cc7c1;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .cap-block {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 767px) {
  .cap-block {
    width: 90vw;
    height: 28vh;
  }
}
@media (max-width: 320px) {
  body{
    font-size: 0.9em;
  }
}
