.event {
  &__tabs-item {
    max-width: 120px;
  }
  &__card-content {
    width: 100%;
    padding: 26px 18px 0;
    min-height: 75px;
  }
  &__card-item-event {
    position: relative;
    margin-bottom: 21px;
  }
  &:not(:last-child) {
    margin-bottom: 0;
  }
  &__card-event-name,
  &__card-event-time {
    text-decoration: none;
    @include Ubuntu;
    font-size: 18px;
    line-height: 1.39;
  }

  &__card-event-name {
    font-weight: bold;
    color: #747a84;
    letter-spacing: normal;
  }
  &__card-event-time {
    color: #fff;
    padding: 6px 8px;
    border-radius: 4px;
    background-color: #2cc7c1;
    font-weight: normal;
    margin-right: 25px;
    letter-spacing: 1.7px;
  }
}
.revealing-el {
  position: absolute;
  overflow: hidden;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  right: 0;
  top: 2px;
  cursor: pointer;
  z-index: 2;
  .fa {
    font-size: 1.2em;
    margin: 0.5px 0px;
    color: #2cc7c1;
  }
}

@media (max-width: 480px) {
  .event {
    &__card-item-event {
      display: flex;
      flex-wrap: wrap;
    }
    &__card-event-time {
      height: 100%;
      font-size: 1em;
      margin-right: 5px;
    }
    &__card-event-name {
      max-width: 200px;
      font-size: 1em;
    }
    .card__text-block {
    }
  }
  .revealing-el {
    position: absolute;
    overflow: hidden;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    right: 0;
    top: 2px;
    cursor: pointer;
    z-index: 2;
    .fa {
      font-size: 1.5em;
      margin: 0.5px 0px;
      color: #2cc7c1;
    }
  }
}
