.footer {
  width: 100%;
  background-color: #525b64;
  @include Ubuntu;
  padding: 90px 0 0;
  position: relative;
  &__feedback {
    max-width: 490px;
  }
  &__feedback-heading {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.25px;
    color: #fff;
    margin-bottom: 21px;
  }
  &__feedback-text {
    line-height: 1.56;
    letter-spacing: 0.16px;
  }
  &__feedback-text {
    color: #cdd0d2;
  }

  &__feedback-social {
    margin-top: 24px;
    a {
      i {
        color: #fff;
        font-size: 2em;
        margin-right: 10px;
      }
    }
  }
  &__middle-text {
    max-width: 275px;
    color: #cdd0d2;
    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
    p {
      margin-top: 18px;
      line-height: 1.56;
      letter-spacing: 0.16px;
      color: #cdd0d2;
    }
  }
  &__contact {
  }
  &__contact-heading {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-bottom: 23px;
  }
  &__contact-item {
    margin-bottom: 15px;
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.36px;
      text-align: left;
      color: #2cc7c1;
      &:hover {
        text-decoration: underline;
      }
    }
    .fas,
    .fab {
      margin-right: 12px;
    }
  }
  &__copyright {
    margin-top: 81px;
    background-color: #3f464c;

    a {
      @include Ubuntu;
      text-decoration: none;
      margin-left: 185px;
      font-size: 14px;
      line-height: 2.86;
      letter-spacing: 0.14px;
      color: rgba(202, 202, 202, 0.5);
    }
  }
  .section-wrap {
    margin-top: 0;
  }
}

/*========== MEDIA ==========*/

@media (max-width: 768px) {
  .footer {
    .section-wrap {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__feedback {
      margin-bottom: 20px;
      max-width: 575px;
    }
    &__copyright {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      a {
        margin: 0;
      }
    }
  }
}
@media (max-width: 1024px) {
  .footer {
    padding: 20px 0 0;
    &__middle-text {
      max-width: none;
      margin-bottom: 10px;
    }
    &__middle-text{
      max-width: 200px;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 0 0;
    &__middle-text {
      max-width: none;
      margin-bottom: 10px;
    }
  }
}
