.promo {
  display: flex;
  flex-grow: 2;
  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
  }

  .play {
    font-size: 3.75rem;
    opacity: 0.7;
    color: #2cc7c1;
  }
}

@media (max-width: 768px) {
  .promo {
    &__video {
      order: 1;
    }
  }
}
