img {
  width: 100%;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  display: flex;
  border: 3px solid;
  margin: 0 auto;
}
.slider {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  transition: ease-in-out 1s;
}
.slide-single {
  width: 100%;
  height: auto;
  transition: ease-in-out 0.5s;
  z-index: -1;
}
.button {
  display: flex;
  justify-content: center;
}
#next,
#prev {
  width: 90px;
  height: 40px;
}
