.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 93px;
  width: 100%;
  padding:  3rem;
  background-color: #31394c;
  color: #fff;
  @include border-B;
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    display: flex;
    @include Roboto-M;
    font-size: 1.6rem;
    color: #fff;
    margin-left: 1.5rem;
  }
  &__burger-icon {
    font-size: 1.8rem;
  }
}
