.nav {
  display: flex;
  flex-direction: column;
  flex: 18.75%;
  max-width: 350px;
  min-height: 100%;
  position: relative;
}
@media (max-width: 991.98px) {
  .nav {
    flex: 10%;
    max-width: auto;
  }
}
