.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  @include border-B;
  padding: 3rem 3rem;
  &:last-child{
    border: none;
  }
  &__head {
    display: flex;
    margin-bottom: 2.5rem;
  }
  &__heading {
    @include Roboto-M;
    @include colorGrey;
    font-size: 1.4rem;
    line-height: 2.14rem;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  &__icon {
    display: flex;
    font-size: 1.9rem;
  }
  &__link {
    display: flex;
    margin-left: 1.5rem;
    max-width: 145px;
    a {
      @include Roboto-M;
      @include colorLightGrey;
      font-size: 1.3rem;
      line-height: 1.54rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__btn {
    display: flex;
    margin-top: 1rem;
  }
}
