@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body.lock {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header {
  background: url("../img/bg-header.jpg") no-repeat center;
  background-size: cover;
  padding: 1rem 0.8rem 6rem;
  position: relative;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem 0 2.3rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.8rem;
}

.header__text h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #fff;
}

.header__text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: normal;
  text-align: center;
  color: #f1f1f1;
  margin: 4.6rem 0 6.6rem;
}

.sity__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff;
}

.logo {
  width: 88px;
  height: 88px;
  margin: 0 4.05rem 0 3.05rem;
  z-index: 2;
}

.logo img {
  width: 100%;
  height: auto;
}

.orange-word {
  color: #fe8057;
}

.nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  padding: 0 0.8rem;
  background-color: #25262a;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0.1;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.nav__line {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 4rem;
  background-color: #696969;
}

.nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu,
.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item,
.register__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}

.menu__item {
  margin-top: 3.5rem;
}

.register {
  margin-bottom: 2.3rem;
}

.register__item {
  margin-top: 3rem;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.024rem;
  color: #fff;
  padding: 1.4rem 0 1.5rem;
  border-radius: 4px;
}

.btn-register {
  background-color: #fe8057;
  outline: none;
  border: none;
  color: #fff;
  width: 304px;
}

.btn-prepod {
  border: solid 2px #fe8057;
  background: none;
  width: 200px;
}

.burger {
  width: 39px;
  height: 26px;
  position: relative;
  z-index: 2;
}

.burger span {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  background: #fff;
}

.burger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 50%;
  background: #fff;
}

.burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 100%;
  background: #fff;
}

.burger span, .burger::before, .burger::after {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.burger.active span {
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main {
  padding-top: 6rem;
  position: relative;
}

.programm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 800px;
}

.programm__header {
  margin-bottom: 5rem;
}

.programm__header-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.032rem;
  text-align: center;
  color: #4e93e1;
}

.programm__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programm__item {
  position: relative;
  width: 261px;
  height: 450px;
  background: url("../img/kid.jpg") no-repeat;
  background-position: 60% top;
  background-size: 150%;
  -webkit-box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.2);
          box-shadow: 0px 3px 10px 0 rgba(2, 2, 2, 0.2);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  overflow: hidden;
  margin: 0 0.7rem;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.overlay__link {
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.overlay__link, .overlay__no-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  max-width: 150px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.overlay__no-link {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.overlay.hover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.overlay__link.hover {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.overlay__no-link.hover {
  -webkit-transform: translateY(340%);
          transform: translateY(340%);
  opacity: 1;
}
