.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  a {
    @include colorGrey;
  }
}
.cross {
  display: none;
  transition: ease-in 0.5s;
  &__icon {
    width: 14px;
    height: 14px;
  }
}
.dashboard {
  width: 18px;
  height: 18px;
}
.fa-pen {
  font-size: 1.6rem;
  margin-right: 2rem;
}
.history {
  i {
    color: #f39c13;
  }
}
.arrow-right {
  margin: 2.65rem 1rem 0;
  a {
    font-size: 1.6rem;
  }
}
