.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  a {
    @include colorGrey;
  }
}
.cross {
  display: none;
  transition: ease-in 0.5s;
  &__icon {
    width: 14px;
    height: 14px;
  }
}

.dashboard{
  width: 18px;
  height: 18px;
}
.fa-pen{
  font-size: 1.6rem;
  margin-right: 2rem;
}