@mixin colorGrey {
  color: #6f7582;
}
@mixin colorLightGrey {
  color: #c2c6cc;
}

@mixin border-R {
  border-right: 2px solid #3d465e;
}
@mixin border-L {
  border-left: 2px solid #3d465e;
}
@mixin border-T {
  border-top: 2px solid #3d465e;
}
@mixin border-B {
  border-bottom: 2px solid #3d465e;
}
@mixin border-all {
  border: 2px solid #3d465e;
}
@mixin btnBorderAll {
  border: 2px solid #3d465e;
}
//====//
@mixin border-R-W {
  border-right: 2px solid #f0f0f0;
}
@mixin border-L-W {
  border-left: 2px solid #f0f0f0;
}
@mixin border-T-W {
  border-top: 2px solid #f0f0f0;
}
@mixin border-B-W {
  border-bottom: 2px solid #f0f0f0;
}
@mixin border-all-W {
  border: 2px solid #f0f0f0;
}
@mixin btnBorderAll-W {
  border: 2px solid #f0f0f0;
}

@mixin whiteThemeLightGrey {
  color: #cccccc;
}

@mixin whiteThemeGrey {
  color: #808080;
}
// #f0f0f0;
