.cross.active {
  display: flex;
}
.header__menu.active {
  flex: 18.75%;
}
.nav.active {
  flex: 18.75%;
}
.cross,.sidebar__link,.sidebar__btn,.menu__link,.sidebar__head{
  display: flex;
}
.sidebar__link.active {
  display: none;
}
.sidebar__btn.active {
  display: none;
}
.menu-link.active {
  display: none;
}
.sidebar__head.active {
  display: none;
}

.header__menu,.nav{
  flex: 18.75%;
}
