.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  a {
    @include colorGrey;
  }
}
.cross {
  margin-left: 9.5rem;
  &__icon {
    width: 14px;
    height: 14px;
  }
}

