.nav {
  @include border-R;
  display: flex;
  flex-direction: column;
  flex: 18.75%;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
  }
}
.sidebar {
  display: flex;
  &:nth-child(2) {
    @include border-T;
    @include border-B;
  }
  &__head {
    margin-bottom: 2.5rem;
  }
  &__heading {
    @include Roboto-M;
    @include colorGrey;
    font-size: 1.4rem;
    line-height: 2.14rem;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  &__icon {
    display: flex;
    font-size: 1.9rem;
  }
  &__link {
    @include Roboto-M;
    @include colorLightGrey;
    font-size: 1.3rem;
    line-height: 1.54rem;
    margin-left: 1.5rem;
  }
  &__btn {
    margin-top: 1rem;
  }
}

.button-all {
  @include colorGrey;
  @include Roboto-B;
  font-size: 1.2rem;
  background: none;
  border-radius: 3rem;
  border: solid 2px #31394c;
  padding: 1.1rem 2.6rem;
}
