.search {
  display: flex;
  align-items: center;
  &__search-icon {
    font-size: 1.8rem;
  }
  &__input {
    background: none;
    outline: none;
    border: none;
    caret-color: #6f7582;
    margin-left: 2.1rem;
    font-size: 1.6rem;
    &::placeholder {
      @include colorGrey;
      @include Roboto-M;
      line-height: 2.14;
      font-size: 1.4rem;
    }
    &:focus {
      color: #fff;
    }
  }
}
