.header {
  background-color: #31394c;
  height: 100%;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 81.25%;
    padding: 0 3.1rem 0 5.1rem;
  }
  &__search {
    flex: (100% / 3);
  }
  &__logo {
    display: flex;
    align-items: center;
    flex: (100% / 3);
    padding-left: 1.9rem;
  }
  &__profile {
    justify-content: flex-end;
    flex: (100% / 3);
  }
}
.logo {
  width: 40px;
  height: 40px;
  border: solid 8px #ffffff;
  border-radius: 50%;
}
