@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #212734;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.button-all {
  color: #6f7582;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border: 2px solid #31394c;
  font-size: 1.2rem;
  background: none;
  padding: 1.1rem 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-all-border {
  border-radius: 3rem;
}

.btn-r-border {
  border-radius: 3rem 0 0 3rem;
  border-right: 1.5px solid #31394c;
}

.btn-l-border {
  border-radius: 0 3rem 3rem 0;
  border-left: 1px solid #31394c;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.icons a {
  color: #6f7582;
}

.cross {
  display: none;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.cross__icon {
  width: 14px;
  height: 14px;
}

.dashboard {
  width: 18px;
  height: 18px;
}

.fa-pen {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 81.25%;
      -ms-flex: 81.25%;
          flex: 81.25%;
  color: #fff;
}

.content__header {
  border-top: 2px solid #3d465e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding: 2.5rem 6rem 2.5rem 3rem;
}

.content__active-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: calc(100% / 3);
      -ms-flex: calc(100% / 3);
          flex: calc(100% / 3);
}

.content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: calc(100% / 3);
      -ms-flex: calc(100% / 3);
          flex: calc(100% / 3);
  margin-right: 12.7rem;
}

.edit-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: calc(100% / 3);
      -ms-flex: calc(100% / 3);
          flex: calc(100% / 3);
}

.bets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.bets__heading h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.54;
  text-align: center;
  color: #fff;
}

.diving-line {
  width: 200px;
  height: 2px;
  margin: 2rem 0 1.8rem;
  background-color: #00caff;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  -webkit-box-shadow: -0.2px 2px 6px 0 rgba(0, 0, 0, 0.06);
          box-shadow: -0.2px 2px 6px 0 rgba(0, 0, 0, 0.06);
  background-color: #31394c;
}

.person__avatar {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.person__avatar img {
  width: 110%;
  height: auto;
}

.person__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__message span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.67;
  text-align: left;
  color: #fff;
}

.person__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__price span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #6f7582;
  font-size: 1.2rem;
  line-height: 1.67;
}

.person .icons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.history i {
  color: #f39c13;
}

.arrow-right {
  margin: 2.65rem 1rem 0;
}

.arrow-right a {
  font-size: 1.6rem;
}

.header {
  background-color: #31394c;
  height: 100%;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 81.25%;
      -ms-flex: 81.25%;
          flex: 81.25%;
  padding: 0 3.1rem 0 5.1rem;
}

.header__search {
  -webkit-box-flex: 33.33333%;
      -ms-flex: 33.33333%;
          flex: 33.33333%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 33.33333%;
      -ms-flex: 33.33333%;
          flex: 33.33333%;
  padding-left: 1.9rem;
}

.header__profile {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 33.33333%;
      -ms-flex: 33.33333%;
          flex: 33.33333%;
}

.logo {
  width: 40px;
  height: 40px;
  border: solid 8px #ffffff;
  border-radius: 50%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__notice-icon {
  font-size: 2rem;
}

.profile__avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 3rem;
}

.profile__name {
  margin-left: 1.9rem;
}

.profile__name a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #6f7582;
  font-size: 1.3rem;
  line-height: 1.54;
  padding: 10px 0;
  text-align: left;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.profile__name a:hover {
  color: #fff;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__search-icon {
  font-size: 1.8rem;
}

.search__input {
  background: none;
  outline: none;
  border: none;
  caret-color: #6f7582;
  margin-left: 2.1rem;
  font-size: 1.6rem;
}

.search__input::-webkit-input-placeholder {
  color: #6f7582;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 2.14;
  font-size: 1.4rem;
}

.search__input:-ms-input-placeholder {
  color: #6f7582;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 2.14;
  font-size: 1.4rem;
}

.search__input::-ms-input-placeholder {
  color: #6f7582;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 2.14;
  font-size: 1.4rem;
}

.search__input::placeholder {
  color: #6f7582;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 2.14;
  font-size: 1.4rem;
}

.search__input:focus {
  color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 18.75%;
      -ms-flex: 18.75%;
          flex: 18.75%;
  height: 100%;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  padding: 0 3rem;
  background-color: #31394c;
  color: #fff;
  border-right: 2px solid #3d465e;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  margin-left: 1.5rem;
}

.menu__burger-icon {
  font-size: 1.8rem;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 3rem;
  border-top: 2px solid #3d465e;
  border-right: 2px solid #3d465e;
}

.sidebar__head {
  display: none;
  margin-bottom: 2.5rem;
}

.sidebar__heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #6f7582;
  font-size: 1.4rem;
  line-height: 2.14rem;
}

.sidebar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.sidebar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.9rem;
}

.sidebar__link {
  display: none;
}

.sidebar__link a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #c2c6cc;
  font-size: 1.3rem;
  line-height: 1.54rem;
  margin-left: 1.5rem;
}

.sidebar__btn {
  display: none;
  margin-top: 1rem;
}

.cross.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu.active {
  -webkit-box-flex: 18.75%;
      -ms-flex: 18.75%;
          flex: 18.75%;
}

.nav.active {
  -webkit-box-flex: 18.75%;
      -ms-flex: 18.75%;
          flex: 18.75%;
}

.cross, .sidebar__link, .sidebar__btn, .menu__link, .sidebar__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__link.active {
  display: none;
}

.sidebar__btn.active {
  display: none;
}

.menu-link.active {
  display: none;
}

.sidebar__head.active {
  display: none;
}

.header__menu, .nav {
  -webkit-box-flex: 18.75%;
      -ms-flex: 18.75%;
          flex: 18.75%;
}
