.main {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24.5rem;
  }
  &__heading {
    display: flex;
  }
}
.logo-mini {
  margin-right: 1.2rem;
}
.heading-h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 5.2rem;
  font-weight: bold;
  color: #2f1946;
  text-transform: uppercase;
}
.quote {
  font-family: 'Dosis', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #2f1946;
  text-align: center;
  max-width: 784px;
  margin: 4.4rem 0 0.7rem 0;
}
.author-quote {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: 'Dosis', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  color: #fe4a5d;
}

// .form-gallery

.form-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding-bottom: 16rem;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 29px;
  &--item-left-down {
    transform: translateY(70px);
  }
  &--item-right-down {
    transform: translateY(41px);
  }
  &__item {
    margin-bottom: 2.7rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.form-border {
  background-image: linear-gradient(to left, #f9b416, #e22028);
  padding: 0.8rem;
  margin: 5.5rem 4rem 0 4rem;
}
.form {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  padding: 6.5rem 7.5rem;
  &__input {
    width: 300px;
    border-radius: 4px;
    border: solid 2px #dcdcdc;
    background-color: #ffffff;
    padding: 1.3rem;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 1.3rem;
    color: #642f6b;
    &::placeholder {
      font-size: 1.65rem;
      font-weight: bold;
      color: #642f6b;
    }
  }
}
.heading-h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  color: #2f1946;
  margin-bottom: 4.3rem;
}
.btn-facebook {
  border-radius: 4px;
  background-color: #2f53a3;
  border: none;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  padding: 1.4rem;
  cursor: pointer;
  letter-spacing: 0.8px;
  &:hover {
    background-color: #3e5c9e;
  }
  &:active {
    background-color: #274485;
  }
}
.facebook-icon {
  font-size: 1.4rem;
}
.diving-line {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  color: #9b9b9b;
  position: relative;
  margin: 1.3rem 0 1.5rem;
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 1px;
    background-color: #dcdcdc;
    width: 45%;
    height: 2px;
    top: 50%;
  }
  &::after {
    left: 0;
  }
  &::before {
    right: 0;
  }
}
.submit {
  border-radius: 4px;
  background-color: #81398b;
  font-family: 'Dosis', sans-serif;
  font-size: 1.65rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  padding: 1.4rem;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: #88538f;
  }
}

@media (max-width: 1366px) {
  .main {
    margin-bottom: 5.5rem;
  }
  .form-gallery {
    align-items: flex-start;
  }
  .gallery {
    grid-template-columns: 1fr;
    grid-gap: 0;
    transform: translateY(55px);

    &__item {
      display: flex;
      margin-bottom: 1rem;
      width: 230px;
      img {
      }
    }
    &--item-left-down {
      transform: none;
    }
    &--item-right-down {
      transform: none;
    }
  }
}
@media (max-width: 1023px) {
  .form-gallery {
    padding-bottom: 10rem;
  }
  .main {
    margin-bottom: 0;
  }
  .gallery {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .quote {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .form {
    padding: 3rem 2rem;
    &__input {
    }
  }
}
@media (max-width: 767px) {
  .form {
    &__input {
      max-width: 300px;
      width: auto;
      min-width: 250px;
    }
  }
}
@media (max-width: 480px) {
  .form-gallery {
    padding-bottom: 4rem;
  }
  .gallery {
    display: none;
  }
  .quote {
    font-size: 2rem;
  }
  .author-quote {
    font-size: 2rem;
  }
  .heading-h3 {
    font-size: 3rem;
  }
}
