.social {
  position: fixed;
  top: 32%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  cursor: pointer;
  z-index: 999;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1.3rem;
    text-align: center;
    font-size: 2.6rem;
    color: #fff;
    background-color: #45124c;

    &:hover {
      background-color: #45124cd7;
    }
    &:nth-last-child(4) {
      border-radius: 0 3px 0 0;
    }
    &:nth-last-child(1) {
      border-radius: 0 0 3px 0;
    }
  }
  .share {
    fill: #fff;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 480px) {
  .social {
    a {
      font-size: 1.6rem;
      padding: 1rem 0.9rem;
    }
    .share {
      width: 16px;
      height: 16px;
    }
  }
}
