@import '_social';
@import '_header';
@import '_form';
@import '_balls';
@import '_subscribe';
@import '_footer';

// font-family: 'Basic', sans-serif;
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .wrapper {
  }
}
