@import url("https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url(../fonts/Gilroy-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url(../fonts/Gilroy-Heavy.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(../fonts/Gilroy-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-UltraLight';
  src: url(../fonts/Gilroy-UltraLight.ttf);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: Gilroy;
  background: #FAFAFA;
}

.header-1 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 25px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header {
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
  font-family: 'Homemade Apple', cursive;
}

.logo a {
  color: #000;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.logo a:hover {
  color: #F7941E;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a {
  margin-left: 31px;
  color: #000;
  font-family: 'Gilroy-Medium';
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

.nav :hover {
  color: #F7941E;
}

.btn_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 34px;
  border: 1px solid #F7941E;
  border-radius: 5px;
  cursor: pointer;
}

.btn_header a {
  text-transform: uppercase;
  color: #F7941E;
  padding: 12px 26.5px 12px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn_header :hover {
  background-color: #F7941E;
  color: #fff;
  text-decoration: underline;
}

.hide_menu {
  display: none;
  height: 24px;
  width: 34px;
  position: relative;
}

.hide_menu span {
  position: absolute;
  height: 3px;
  background-color: #000;
  width: 100%;
  left: 0;
  top: 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.hide_menu::before, .hide_menu::after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.hide_menu::before {
  top: 0;
}

.hide_menu::after {
  bottom: 0;
}

.gift {
  background-color: #F1F1F2;
}

.gift_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.gift_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gift_text h1 {
  font-size: 56px;
  line-height: 69px;
}

.gift_text h3 {
  color: #000;
  font-size: 32px;
  line-height: 69px;
}

.gift_text p {
  font-size: 20px;
  line-height: 140%;
  margin: 36px 0 52px;
}

.gift_one {
  padding: 0 126px 0 162px;
}

.gift_two {
  padding: 10px 0 0 102px;
  text-align: justify;
  color: #000;
}

.gift_two p {
  max-width: 441px;
}

@media (max-width: 1440px) {
  .gift_two {
    padding-right: 100px;
  }
}

.gift_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gift_img img {
  width: 100%;
  height: auto;
}

.btn_gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_gift a {
  background-color: #F7941E;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 35px;
}

.btn_learn_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_learn_more a {
  border: 1px solid #F7941E;
  border-radius: 5px;
  text-transform: uppercase;
  color: #F7941E;
  padding: 20px 35px;
}

.occa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 137px 0;
}

.occa_header {
  text-align: center;
}

.occa_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.occa_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.occa_item:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.occa_item:nth-child(1) {
  margin-left: 0;
}

.occa_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background: #fff;
}

.occa_text a {
  font-size: 20px;
  color: #000;
  margin-bottom: 75px;
}

.occa_text span {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.occa_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occa_img img {
  width: 100%;
  height: auto;
}

.ready {
  background: #F7941E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 82.5px 0;
  max-width: 1440px;
  margin: 0 auto 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ready_text {
  margin-right: 229px;
}

.ready_text h2 {
  font-size: 32px;
}

.ready_text span {
  font-size: 32px;
}

.btn_ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #231F20;
  padding: 14px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.btn_black a {
  color: #fff;
}

.btn_black:hover {
  border: 1px solid #000000;
  background: none;
  cursor: pointer;
}

.btn_black:hover a {
  color: #000;
}

.btn_op {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 25px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.btn_op a {
  color: #000;
}

.btn_op:hover {
  background: #231F20;
  cursor: pointer;
}

.btn_op:hover a {
  color: #fff;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  max-width: 1170px;
  margin: 0 auto;
}

.blogs_header {
  text-align: center;
  margin-bottom: 71px;
}

.blogs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #231F20;
  color: #fff;
  margin-bottom: 40px;
  min-width: 100%;
}

.blogs_item a {
  color: #fff;
}

.blogs_item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.blogs_item_img img {
  width: 100%;
  height: auto;
}

.blogs_item_text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 78px;
  max-width: 500px;
}

.blogs_item_text span {
  font-size: 14px;
}

.blogs_item_text a {
  font-size: 48px;
  margin: 30px 0 65px;
}

.blogs_item_text p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  padding: 20px;
}

.news_item {
  padding: 50px 50px 30px;
  margin-left: 30px;
  max-width: 50%;
  min-height: 290px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.4;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.news_item:nth-child(1) {
  margin-left: 0;
}

.news_item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.news_item h2 {
  font-size: 24px;
}

.news_item a {
  font-size: 14px;
  color: #000;
}

.news_item a:hover {
  text-decoration: underline;
}

.news_item p {
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 115px 0 0;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 53px;
}

.footer_nav a {
  margin-left: 80px;
  font-size: 14px;
  color: #000;
}

.footer_nav a:nth-child(1) {
  margin-left: 0;
}

.footer_logo {
  font-family: Homemade Apple;
}

.footer_line {
  height: 2px;
  width: 85.47%;
  background: #000;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 56px 0 72px;
}

.footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  color: #fff;
  margin-left: 25px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.footer_social a:nth-child(1) {
  margin-left: 0;
}

.footer_social a:hover {
  background: #fff;
  color: #000;
}

.copyright {
  padding-bottom: 30px;
}

.copyright :nth-child(2) {
  margin-left: 10px;
}

.copyright :nth-child(1) {
  margin-left: 0;
}
